#root {
  --primary: #13293d;
  --secondary: gold;
  --header: white;
  --light: rgb(189, 212, 234);
  --splash: cadetblue;
}

header {
  background-color: black;
}

img {
  width: 25%;
  max-width: 250px;
  margin-right: 20px;
  height: fit-content
}